cloud/node-red-flow
[{"id":"ae802f38.e9f58","type":"tab","label":"JDMT","disabled":false,"info":""},{"id":"7240176c.667e98","type":"ui_chart","z":"ae802f38.e9f58","name":"","group":"d66acbe1.92f1c8","order":0,"width":"6","height":"4","label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":993,"y":156,"wires":[[],[]]},{"id":"104d8137.5b474f","type":"http request","z":"ae802f38.e9f58","name":"","method":"GET","ret":"txt","url":"https://nfe-abp-test.data.thethingsnetwork.org/api/v2/query","tls":"","x":514,"y":293,"wires":[["dfd3421c.74e45"]]},{"id":"4c39da94.4f1364","type":"function","z":"ae802f38.e9f58","name":"Set Headers","func":"msg.headers = {\n    Accept: \"application/json\",\n    Authorization: \"key ttn-account-v2.wPc0Yw2hwpEKdbE0FVJGEYru2NoOSLqczpZbsZ2r3Bk\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":292,"wires":[["104d8137.5b474f"]]},{"id":"b1df4b17.064708","type":"inject","z":"ae802f38.e9f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":292,"wires":[["4c39da94.4f1364"]]},{"id":"aff2adf5.acf77","type":"debug","z":"ae802f38.e9f58","name":"","active":false,"console":"false","complete":"false","x":1032,"y":285,"wires":[]},{"id":"dfd3421c.74e45","type":"json","z":"ae802f38.e9f58","name":"","pretty":false,"x":680,"y":374,"wires":[["ed7274f2.bec2d8","b0ad011c.cc1d"]]},{"id":"ed7274f2.bec2d8","type":"function","z":"ae802f38.e9f58","name":"Prepare Data","func":"var samples = msg.payload;\nvar data = [];\n\nfor(var s in samples) {\n    var time = new Date(samples[s].time);\n    node.warn(time.getTime());\n    data.push({\n        x : time.getTime(),\n        y : samples[s].value ? parseFloat(samples[s].value) : 0\n    });\n}\nvar chart = [{\n    \"series\": [\"bat\"],\n    \"data\" : [\n        data\n    ],\n    \"labels\": [\"Batery level\"]\n}]\nmsg.payload = chart;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":727,"y":262,"wires":[["7240176c.667e98","aff2adf5.acf77"]]},{"id":"b0ad011c.cc1d","type":"debug","z":"ae802f38.e9f58","name":"","active":false,"console":"false","complete":"false","x":974,"y":421,"wires":[]},{"id":"d66acbe1.92f1c8","type":"ui_group","z":"","name":"Battery Level","tab":"f5d78e28.b6242","order":1,"disp":true,"width":"30","collapse":false},{"id":"f5d78e28.b6242","type":"ui_tab","z":"","name":"JMDT","icon":"dashboard","order":8}]