logging Tool/LogTool.NodeRed
[{"id":"83a60cce.4fe25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc7c9181.0eb81","type":"ui_text","z":"83a60cce.4fe25","group":"8439c1b7.1a2c2","order":0,"width":"26","height":"8","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":430,"y":280,"wires":[]},{"id":"13aa48c4.718af7","type":"file","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\Bilder.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1220,"y":180,"wires":[[]]},{"id":"5ece6ec3.45587","type":"serial in","z":"83a60cce.4fe25","name":"","serial":"e80a9599.5a7788","x":90,"y":220,"wires":[["eb119041.a3278"]]},{"id":"c4546738.833338","type":"ui_button","z":"83a60cce.4fe25","name":"","group":"8439c1b7.1a2c2","order":1,"width":0,"height":0,"passthru":false,"label":"TAKE PICTURE","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":120,"y":860,"wires":[["62359496.bdfaec"]]},{"id":"6ad6b1d0.41a0a","type":"serial out","z":"83a60cce.4fe25","name":"","serial":"e80a9599.5a7788","x":540,"y":840,"wires":[]},{"id":"62359496.bdfaec","type":"function","z":"83a60cce.4fe25","name":"make string to ascii","func":"msg.payload=Buffer.from(\" \",'ascii');\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":840,"wires":[["6ad6b1d0.41a0a"]]},{"id":"e0f97871.a7ba48","type":"ui_button","z":"83a60cce.4fe25","name":"","group":"8439c1b7.1a2c2","order":1,"width":0,"height":0,"passthru":false,"label":"Save Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[32]","payloadType":"bin","topic":"","x":110,"y":400,"wires":[["e801e51f.cab378","c258a27c.77236","93fe4c3e.13e89","3ac6f9be.b8a786","1763329e.7ceded"]]},{"id":"e801e51f.cab378","type":"ui_switch","z":"83a60cce.4fe25","name":"","label":"good/ bad Pictures","tooltip":"","group":"8439c1b7.1a2c2","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":410,"y":520,"wires":[["363cb2e6.30629e","7d003542.d28b4c"]]},{"id":"7b41dc09.3cd444","type":"file in","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\Buffer.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1040,"y":140,"wires":[["13aa48c4.718af7","f04eeba8.db37b8"]]},{"id":"363cb2e6.30629e","type":"function","z":"83a60cce.4fe25","name":"set flow picturegood","func":"var temp=msg.payload;\n\nflow.set(\"picturegood\",temp);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":520,"wires":[[]]},{"id":"f04eeba8.db37b8","type":"switch","z":"83a60cce.4fe25","name":"","property":"picturegood","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":280,"wires":[["cd024b9.483cfb8"],["6fcc3f9a.b7e14"]]},{"id":"6fcc3f9a.b7e14","type":"file","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\pictures_bad.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1260,"y":300,"wires":[[]]},{"id":"c23a7d56.e3862","type":"ui_template","z":"83a60cce.4fe25","group":"62300043.ed20a","name":"","order":0,"width":0,"height":0,"format":"<style>\nbody.nr-dashboard-theme {\n    font-size: 5px !important;\n}\n.md-toolbar-tools h1 {\n    font-size: 50px !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":640,"y":60,"wires":[[]]},{"id":"cd024b9.483cfb8","type":"file","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\pictures_good.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1270,"y":260,"wires":[[]]},{"id":"eb119041.a3278","type":"switch","z":"83a60cce.4fe25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LiklihoodDeviceOk","vt":"str"},{"t":"cont","v":"[","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":220,"wires":[["651dc5f.2cadf3c"],["bc7c9181.0eb81","5966ae46.c0c6"]]},{"id":"ed8f7981.6a88a8","type":"debug","z":"83a60cce.4fe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1630,"y":640,"wires":[]},{"id":"2b4fb984.c88066","type":"debug","z":"83a60cce.4fe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":620,"wires":[]},{"id":"c258a27c.77236","type":"ui_dropdown","z":"83a60cce.4fe25","name":"","label":"Device Type","tooltip":"","place":"Select option","group":"8439c1b7.1a2c2","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"AED_ZOLL_PLUS","value":"AED_ZOLL_PLUS","type":"str"},{"label":"CU_ST1_AUTO","value":"CU_ST1_AUTO","type":"str"},{"label":"AED_ZOLL_3","value":"AED_ZOLL_3","type":"str"}],"payload":"","topic":"","x":410,"y":580,"wires":[["1a5e964e.bc0cca"]]},{"id":"93fe4c3e.13e89","type":"function","z":"83a60cce.4fe25","name":"create json","func":"const entry = {\n    id: new Date(),\n    deviceType:flow.get(\"device_type\"),\n    picture: flow.get(\"picturebuffer\"),\n    deviceOk: Number.parseInt(flow.get(\"picturegood\"))\n}\n\nmsg.payload= entry;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["81c17f5b.238a9"]]},{"id":"1a5e964e.bc0cca","type":"function","z":"83a60cce.4fe25","name":"set flow device_type","func":"var temp=msg.payload;\n\nflow.set(\"device_type\",temp);\nreturn msg;","outputs":1,"noerr":0,"x":648.017333984375,"y":570.0104370117188,"wires":[[]]},{"id":"81c17f5b.238a9","type":"debug","z":"83a60cce.4fe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":660,"wires":[]},{"id":"7d003542.d28b4c","type":"debug","z":"83a60cce.4fe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":420,"wires":[]},{"id":"5966ae46.c0c6","type":"function","z":"83a60cce.4fe25","name":"set flow picture buffer","func":"var str =msg.payload;\n//str=str.slice(1,-1);\n//str.slice(1);\nvar array = JSON.parse(\"[\" + str + \"]\");\n\nflow.set(\"picturebuffer\",array);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[[]]},{"id":"bde22a6c.0786f8","type":"AWS S3","z":"83a60cce.4fe25","aws":"9b05962d.fe7978","operation":"AbortMultipartUpload","Bucket":"models-for-image-recognition","Key":"","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":790,"y":1100,"wires":[[],[]]},{"id":"58507ae7.709214","type":"debug","z":"83a60cce.4fe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1140,"wires":[]},{"id":"53ba2a1e.c43004","type":"amazon s3 out","z":"83a60cce.4fe25","aws":"","bucket":"models-for-image-recognition","filename":"arn:aws:s3:::models-for-image-recognition","localFilename":"","region":"eu-west-1","name":"","x":800,"y":1180,"wires":[]},{"id":"2561cce8.ff0b04","type":"aws sdk","z":"83a60cce.4fe25","name":"","func":"// Create a bucket using bound parameters and put something in it.\n// Make sure to change the bucket name from \"myBucket\" to something unique.\nvar s3bucket = new AWS.S3({params: {Bucket: 'models-for-image-recognition'}});\ns3bucket.createBucket(function() {\n  var params = {Key: 'myKey', Body: 'Hello!'};\n  s3bucket.upload(params, function(err, data) {\n    if (err) {\n      console.log(\"Error uploading data: \", err);\n      msg.payload = err;\n      callback(msg);\n    } else {\n      console.log(\"Successfully uploaded data to myBucket/myKey\");\n      msg.payload = data;\n      callback(msg);\n    }\n  });\n});\n\nreturn msg;","outputs":1,"noerr":0,"config":"38f37e8f.5ddf42","x":750,"y":1300,"wires":[["58507ae7.709214"]]},{"id":"3ac6f9be.b8a786","type":"switch","z":"83a60cce.4fe25","name":"","property":"device_type","propertyType":"flow","rules":[{"t":"eq","v":"AED_ZOLL_PLUS","vt":"str"},{"t":"eq","v":"AED_ZOLL_3","vt":"str"},{"t":"eq","v":"CU_ST1_AUTO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":380,"wires":[["b0bca57b.3914d8"],[],[]]},{"id":"30b30dff.a86a92","type":"file","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\AED_ZOLL_PLUS.txt","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":2060,"y":520,"wires":[[]]},{"id":"85751694.40f608","type":"file","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\AED_ZOLL_3.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2030,"y":560,"wires":[[]]},{"id":"b2ecb9d3.b8d958","type":"file","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\CU_ST1_AUTO.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2030,"y":600,"wires":[[]]},{"id":"651dc5f.2cadf3c","type":"function","z":"83a60cce.4fe25","name":"set flow probabilityOKbuffer","func":"var temp=msg.payload;\n\nflow.set(\"proabilityOKbuffer\",Array.from(temp));\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[[]]},{"id":"b0bca57b.3914d8","type":"file in","z":"83a60cce.4fe25","name":"","filename":"D:\\tbrae\\Documents\\BA2\\Auswertung Kamerabilder\\AED_ZOLL_PLUS.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1220,"y":540,"wires":[["6e6ec57b.9eb65c","2b4fb984.c88066"]]},{"id":"6e6ec57b.9eb65c","type":"function","z":"83a60cce.4fe25","name":"set flow picture buffer","func":"var temp=msg.payload;\nvar ObjBuffer =Array.from(temp);\n\nconst new_entry = {\n    id: new Date(),\n    deviceType:flow.get(\"device_type\"),\n    picture: flow.get(\"picturebuffer\"),\n    deviceOk: Number.parseInt(flow.get(\"picturegood\"))\n}\nObjBuffer.push(new_entry);\nmsg.payload= ObjBuffer;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1600,"y":540,"wires":[["30b30dff.a86a92","ed8f7981.6a88a8"]]},{"id":"1763329e.7ceded","type":"function","z":"83a60cce.4fe25","name":"get picture buffer","func":"\n\nmsg.payload=flow.get(\"picturebuffer\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["6bec3315.e8da4c"]]},{"id":"6bec3315.e8da4c","type":"debug","z":"83a60cce.4fe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":720,"wires":[]},{"id":"f701474d.0936c8","type":"json","z":"83a60cce.4fe25","name":"","property":"payload","action":"str","pretty":false,"x":970,"y":420,"wires":[[]]},{"id":"5c011c60.55b214","type":"comment","z":"83a60cce.4fe25","name":"AWS S3 Anbindung","info":"Hier wäre die AWS S3 Anbindung","x":690,"y":660,"wires":[]},{"id":"8439c1b7.1a2c2","type":"ui_group","z":"","name":"Display Picture array","tab":"62ea247.b8209dc","disp":true,"width":"26","collapse":false},{"id":"e80a9599.5a7788","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"62300043.ed20a","type":"ui_group","z":"","name":"Default","tab":"b58a9f2.1a5f56","disp":true,"width":"6","collapse":true},{"id":"9b05962d.fe7978","type":"amazon config","z":"","name":"AWS","region":"eu-west-1","proxyRequired":false,"proxy":""},{"id":"38f37e8f.5ddf42","type":"aws-sdk-config","z":"","name":"node-red-access","accesskey":"AKIAYPCTJF5E46VX24HX","secretkey":"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","region":"eu-west-1","iamrole":true},{"id":"62ea247.b8209dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b58a9f2.1a5f56","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]